/* ******************************************
Hero: General
****************************************** */
.hero-container {
  @include flexbox-center;
  background: url(../img/header-banner.png);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  color: white;
  height: 75vh;
  position: relative;
}

.hero-content {
  padding: $spacing2;
  z-index: 1;
  flex: 1;

  @include breakpoint($desktop-sm) {
    max-width: $max-width;
  }
}

.hero-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba($primary-dark-color, .4);
}


/* ******************************************
Hero: Search
****************************************** */
.hero-search-container {
  color: $primary-dark-color;
  text-align: center;

  @include breakpoint($tablet-md) {
    max-width: 30rem;
    margin: 0 auto;
  }

  @include breakpoint($desktop-xsm) {
    display: flex;
    max-width: 100%;
  }
}

input.hero-search-input {
  display: block;
  height: 3.5rem;
  width: 100%;
  background-color: white;
  border: none;
  border-radius: $border-radius;
  -webkit-appearance: none;
  padding: 1.4rem 2.75rem 1.25rem 2.75rem;
  box-sizing: border-box;
  font-size: .95em;
  color: $results-text-medium-color;
}

.hero-search-input-wrap {
  position: relative;
  margin-bottom: .75rem;

  @include breakpoint($tablet-sm) {
    margin-bottom: 1rem;
  }

  @include breakpoint($tablet-md) {
    margin-bottom: .75rem;
  }

  @include breakpoint($desktop-xsm) {
    margin-bottom: 0;
    margin-right: .5rem;
  }

  svg {
    color: $text-grey-color;
  }
}

.hero-search-location-wrap {
  @include breakpoint($tablet-sm) {
    display: inline-block;
    width: 60%;
    margin-right: 3%;
  }

  @include breakpoint($desktop-xsm) {
    display: block;
    width: auto;
    margin-right: .5rem;
    flex: 1 0 25%;
  }
}

.hero-search-distance-wrap {
  @include breakpoint($tablet-sm) {
    display: inline-block;
    width: 37%;
  }

  @include breakpoint($desktop-xsm) {
    display: block;
    width: auto;
    flex: 1 0 15%;
  }
}

.hero-search-input-icon {
  position: absolute;
  left: 1.25rem;
  top: 50%;
  transform: translate(0%, -50%);
}

.hero-search-input-close-icon {
  position: absolute;
  right: 1.25rem;
  top: 50%;
  transform: translate(0%, -50%);
  font-size: 15px;
}

svg.hero-search-input-close-icon {
  color: $results-text-medium-color;
}

.hero-search-btn {
  @include primary-btn;
  @include tranparent-btn-hover;

  @include breakpoint($desktop-xsm) {
    height: 3.5rem;
    line-height: 3.5rem;
  }
}


/* ******************************************
Hero: Headings
****************************************** */
.hero-heading-container {
  margin-bottom: 1.5rem;
  text-align: center;
}

.hero-h1 {
  @include text-shadow;
  font-size: 1.7em;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: .25rem;

  @include breakpoint($mobile-lg) {
    font-size: 2em;
  }

  @include breakpoint($tablet-sm) {
    font-size: 2.5em;
  }

  @include breakpoint($tablet-md) {
    font-size: 3em;
  }

  @include breakpoint($desktop-xsm) {
    font-size: 3.5em;
  }
}

.hero-h3 {
  @include text-shadow;
  font-size: 1em;
  font-weight: 100;

  @include breakpoint($tablet-sm) {
    font-size: 1.2em;
  }

  @include breakpoint($tablet-md) {
    font-size: 1.4em;
  }

  @include breakpoint($tablet-md) {
    font-size: 1.5em;
  }
}
