/**************************************************
Map
**************************************************/
.map-container {
  background-color: $bg-grey-color;

  @include breakpoint($desktop-xsm) {
    @include flexbox-center;
  }

  .fa-map-marker-alt {
    font-size: 2.5em;
  }
}

.map-content {
  @include flexbox-center;
  height: 20rem;
  background: url(../img/map.png);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  box-shadow: inset 0 0 10px rgba(black, .25);
  overflow: hidden;

  @include breakpoint($tablet-md) {
    height: 25rem;
  }

  @include breakpoint($desktop-xsm) {
    max-width: 71.5rem;
    flex: 1;
  }
}

.map-spotlight {
  @include flexbox-center;
  height: 20rem;
  width: 20rem;
  border-radius: 100%;
  background-color: rgba($text-grey-color, .35);
  transform: scale(1.1);

  @include breakpoint($tablet-md) {
    height: 25rem;
    width: 25rem;
  }
}
