/**************************************************
Results: Header
**************************************************/
.results-container {
  background-color: $bg-grey-color;
  padding: $spacing3 $spacing3;
  color: $results-text-dark-color;
}

.results-h2 {
  font-size: 1.2em;
  font-weight: 300;
  text-align: center;
  padding-bottom: $spacing3;
}

.results-number {
  font-weight: 600;
}


/**************************************************
Results: Cards
**************************************************/
.results-card {
  @include card-container;

  .fa-map-marker-alt {
    font-size: 12px;
    margin-right: .25rem;
  }

  .fa-circle {
    @include circle-spacer;
    margin: 0 .5rem;
  }
}

.results-is-highlighted {
  border: 2px solid $secondary-color;
}


/**************************************************
Results: Headshot
**************************************************/
.results-card-headshot {
  @include flexbox-center;
  background-color: $secondary-color;
  background-position: 50% 50%;
  background-repeat: none;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  margin: 0 auto .75rem;
}

.results-cards-container li:nth-child(1) {
  .results-card-headshot {
    background: url(../img/headshot-1.jpg);
    background-size: cover;
  }
}

.results-cards-container li:nth-child(3) {
  .results-card-headshot {
    background: url(../img/headshot-3.jpg);
    background-size: cover;
  }
}

.results-cards-container li:nth-child(4) {
  .results-card-headshot {
    background: url(../img/headshot-4.jpg);
    background-size: cover;
  }
}

.results-cards-container li:nth-child(6) {
  .results-card-headshot {
    background: url(../img/headshot-6.jpg);
    background-size: cover;
  }
}

.results-initials {
  font-weight: 700;
  font-size: 2em;
  color: white;
  padding: .25rem .25rem 0;
}

.results-headshot-has-status {
  background-color: $results-headshot-status;
}


/**************************************************
Results: Info
**************************************************/
.results-card-h4 {
  font-size: 1.15em;
}

.results-card-stats {
  @include flexbox-center;
  color: $text-grey-color;
  font-size: .9em;
}

.results-card-categories {
  font-size: .9em;
  margin: $spacing1 0;
  color: $results-text-medium-color;

  span:after {
    content: " | ";
    padding: 0 .5rem;
    color: $text-grey-color;
  }

  span:last-of-type:after {
    content: "";
  }
}

.results-card-btn {
  @include outline-btn;
}


/**************************************************
Results: Pagination
**************************************************/
.results-pagination-container {
  @include flexbox-center;
  color: $results-text-medium-color;
}

.results-previous,
.results-next {
  font-size: 1.2em;
  margin: 0 1.25rem;
}

.results-page-number {
  @include flexbox-center;
  height: 2rem;
  width: 2rem;
  border-radius: $border-radius;
  font-size: 1.1em;
  margin: 0 .25rem;
  padding: .25rem 0 0;
}

.results-current-page {
  @include flexbox-center;
  background-color: $secondary-color;
  color: $bg-grey-color;
  height: 2rem;
  width: 2rem;
  border-radius: $border-radius;
}
