/**************************************************
Results: Header
**************************************************/
.results-container {
  background-color: $bg-grey-color;
  padding: $spacing3 $spacing3;
  color: $results-text-dark-color;

  @include breakpoint($desktop-xsm) {
    padding: $spacing3 0;
  }
}

.results-h2 {
  font-size: 1.2em;
  font-weight: 300;
  text-align: center;
  padding-bottom: $spacing2;

  @include breakpoint($desktop-xsm) {
    max-width: 75rem;
    padding: 0 1.75rem 1rem;
    margin: 0 auto;
    text-align: left;
  }
}

.results-number {
  font-weight: 600;
}

.results-cards-container {
  @include breakpoint($tablet-sm) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  @include breakpoint($desktop-xsm) {
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 1rem;
  }
}


/**************************************************
Results: Cards
**************************************************/
.results-card {
  @include card-container;

  @include breakpoint($tablet-sm) {
    flex: 1 0 46%;
    margin: 2%;
  }

  @include breakpoint($tablet-md) {
    flex: 1 0 31%;
    margin: 1%;
  }

  .fa-map-marker-alt {
    font-size: 12px;
    margin-right: .25rem;
    margin-bottom: 3px;
  }

  .fa-circle {
    @include circle-spacer;
    margin: 0 .5rem;
  }
}

.results-is-highlighted {
  box-shadow: inset 0 0 0 2px $secondary-color;
}


/**************************************************
Results: Headshot
**************************************************/
.results-card-headshot {
  @include flexbox-center;
  background-color: $secondary-color;
  background-position: 50% 50%;
  background-repeat: none;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  margin: 0 auto .75rem;
  position: relative;
}

.results-cards-container li:nth-child(1) {
  .results-card-headshot {
    background: url(../img/headshot-1.jpg);
    background-size: cover;
  }
}

.results-cards-container li:nth-child(3) {
  .results-card-headshot {
    background: url(../img/headshot-3.jpg);
    background-size: cover;
  }
}

.results-cards-container li:nth-child(4) {
  .results-card-headshot {
    background: url(../img/headshot-4.jpg);
    background-size: cover;
  }
}

.results-cards-container li:nth-child(6) {
  .results-card-headshot {
    background: url(../img/headshot-6.jpg);
    background-size: cover;
  }
}

.results-initials {
  font-weight: 700;
  font-size: 2em;
  color: white;
  padding: .25rem .25rem 0;
}

.results-headshot-has-status {
  background-color: $results-headshot-status;
}

.results-status-icon {
  height: 1rem;
  width: 1rem;
  background-color: $headshot-status-orange;
  border-radius: 50%;
  position: absolute;
  right: 50%;
  bottom: 50%;
  border: 2px solid white;
  transform: rotate(45deg) translate(2.5rem); // translate = half of headshot width
  margin: -0.5rem; // Half of icon width

  &.results-is-online {
    background-color: $headshot-status-green;
  }
}




/**************************************************
Results: Info
**************************************************/
.results-card-h4 {
  font-size: 1.15em;
}

.results-card-stats {
  @include flexbox-center;
  color: $text-grey-color;
  font-size: .9em;

  @include breakpoint($tablet-sm) {
    flex-wrap: wrap;
  }

  .fa-circle {
    @include breakpoint($tablet-sm) {
      display: none;
    }
  }
}

.results-card-stats-location,
.results-card-stats-distance {
  @include flexbox-center;

  @include breakpoint($tablet-sm) {
    flex: 1 0 100%;
  }
}

.results-card-categories {
  font-size: .9em;
  margin: $spacing1 0;
  color: $results-text-medium-color;

  span:after {
    content: " | ";
    padding: 0 .25rem;
    color: $text-grey-color;
  }

  span:last-of-type:after {
    content: "";
  }
}

.results-card-btn {
  @include outline-btn;
  @include outline-btn-hover;

  @include breakpoint($tablet-sm) {
    display: block;
    margin: 0 auto;
    width: 7rem;

    &:first-of-type {
      margin-bottom: .5rem;
    }
  }

  @include breakpoint($desktop-xsm) {
    display: inline-block;
    margin: 0 .15rem;

    &:first-of-type {
      margin-bottom: 0;
    }
  }
}


/**************************************************
Results: Pagination
**************************************************/
.results-pagination-container {
  @include flexbox-center;
  color: $results-text-medium-color;

  @include breakpoint($tablet-sm) {
    margin-top: 1rem;
  }

  @include breakpoint($tablet-md) {
    justify-content: flex-end;
  }

  @include breakpoint($desktop-xsm) {
    max-width: 75rem;
    margin: 1rem auto 0;
    padding: 0 1rem;
  }
}

.results-previous,
.results-next {
  font-size: 1.2em;
  margin: 0 1.25rem;
  cursor: pointer;
}

.results-page-number {
  @include flexbox-center;
  height: 2rem;
  width: 2rem;
  border-radius: $border-radius;
  font-size: 1.1em;
  margin: 0 .25rem;
  padding: .15rem 0 0;
  cursor: pointer;
}

.results-current-page {
  @include flexbox-center;
  background-color: $secondary-color;
  color: $bg-grey-color;
  height: 2rem;
  width: 2rem;
  border-radius: $border-radius;
}
