/* ******************************************
Layout: Nav
****************************************** */
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include breakpoint($desktop-sm) {
    max-width: 71.5rem;
    margin: 0 auto;
  }
}

.nav-menu-list {
  display: none;

  @include breakpoint($desktop-xsm) {
    display: flex;
  }
}

.nav-menu-list li {
  list-style-type: none;
  text-transform: uppercase;
  margin-left: 2rem;
  font-size: .85em;
  font-weight: 100;
  letter-spacing: .05em;

  &.nav-menu-selected {
    color: $secondary-color;
  }
}

.nav-left-wrap,
.nav-right-wrap {
  @include flexbox-center;
}

.nav-menu-account-wrap {
  display: none;

  @include breakpoint($desktop-xsm) {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}

.nav-menu-account-wrap {
  .fa-bell,
  .fa-comment {
    font-size: 1.5em;
  }
}

.nav-menu-account-wrap {
  .fa-user {
    font-size: 1.1em;
  }
}

.nav-menu-icon-wrap {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  margin: 0 .75rem;
}

.nav-menu-user {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: $text-grey-color;
  border-radius: 50px;
}

.nav-menu-user-initials {
  margin: 0;
  width: 1.5rem;
}


/* ******************************************
Layout: Nav Mobile Menu
****************************************** */
.nav-mobile-menu-container {
  position: absolute;
  top: 3rem;
  left: 0;
  opacity: 0;
  transition: opacity ease .2s;

  @include breakpoint($desktop-xsm) {
    display: none;
  }
}

.nav-mobile-menu-open {
  .nav-mobile-menu-container {
    height: auto;
    width: 100%;
    background-color: $primary-dark-color;
    position: absolute;
    z-index: 2;
    opacity: 1;
    transition: opacity ease .25s;

    .nav-menu-list,
    .nav-menu-account-wrap {
      display: block;
    }

    .nav-menu-list {
      margin-top: 1rem;
      text-align: center;

      li {
        margin-left: 0;
        font-size: 1.25em;
        padding-top: 2.5rem;
      }
    }

    .nav-menu-account-wrap {
      text-align: center;
      border-top: 1px solid rgba(255,255,255,.25);
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;
      padding-top: 2rem;
      width: 15rem;
      margin: 2rem auto;
    }
  }

  .nav-container {
    flex-wrap: wrap;
  }
}
