/* ***********************************************************
Box-Sizing: Natural Box Layout
*********************************************************** */
*, *:before, *:after {
  box-sizing: border-box;
}


/* ***********************************************************
Responsive Images
*********************************************************** */
img {
  max-width: 100%;
}
