/**************************************************
MIXINS: General
**************************************************/
@mixin flexbox-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin text-shadow {
  text-shadow: 1px 1px 8px rgba(black, .5);
}

@mixin primary-btn {
  display: inline-block;
  border: none;
  padding: 0.1rem 2.5rem;
  margin: 0;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: $border-radius;
  background: $secondary-color;
  color: $primary-dark-color;
  font-family: $font-stack-main;
  font-size: 1em;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  vertical-align: middle;
  white-space: nowrap;
  height: 3.75rem;
  line-height: 3.75rem;

  &:hover,
  &:focus {

  }
}

@mixin outline-btn {
  @include primary-btn;
  background-color: transparent;
  color: $results-text-medium-color;
  border: 1px solid $results-text-medium-color;
  font-size: .85em;
  text-transform: capitalize;
  font-weight: 400;
  height: 2rem;
  line-height: 2rem;
  padding: 0.05rem .5rem;
  margin: 0 .15rem;
}

@mixin circle-spacer {
  font-size: 5px;
  margin: 0 .25rem;
}

@mixin card-container {
  padding: 1.5rem;
  list-style-type: none;
  border-radius: $border-radius;
  background-color: white;
  box-shadow: 0px 0px 8px rgba(black, .15);
  margin-bottom: 1.5rem;
  text-align: center;
}


/**************************************************
MIXINS: Breakpoints
**************************************************/
@mixin breakpoint($point) {
  @if $point == $mobile-lg {
    @media screen and (min-width: $mobile-lg) { @content; }
  }
  @if $point == $tablet-sm {
    @media screen and (min-width: $tablet-sm) { @content; }
  }
  @if $point == $tablet-md {
    @media screen and (min-width: $tablet-md) { @content; }
  }
  @if $point == $tablet-lg {
    @media screen and (min-width: $tablet-lg) { @content; }
  }
  @if $point == $desktop-xsm {
    @media screen and (min-width: $desktop-xsm) { @content; }
  }
}
