/**************************************************
MIXINS: General
**************************************************/
@mixin flexbox-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin text-shadow {
  text-shadow: 1px 1px 8px rgba(black, .5);
}

@mixin primary-btn {
  display: inline-block;
  border: none;
  padding: 0.1rem 2.5rem;
  margin: 0;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: $border-radius;
  background: $secondary-color;
  color: $primary-dark-color;
  font-family: $font-stack-main;
  font-size: 1em;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  vertical-align: middle;
  white-space: nowrap;
  height: 3.75rem;
  line-height: 3.75rem;

  &:hover,
  &:focus {

  }
}

@mixin circle-spacer {
  font-size: 5px;
  margin: 0 .25rem;
}


/**************************************************
MIXINS: Breakpoints
**************************************************/
@mixin breakpoint($point) {
  @if $point == sm {
    @media screen and (min-width: $break-sm) { @content; }
  }
  @if $point == md {
    @media screen and (min-width: $break-md) { @content; }
  }
  @if $point == md2 {
    @media screen and (min-width: $break-md2) { @content; }
  }
  @if $point == lg {
    @media screen and (min-width: $break-lg) { @content; }
  }
  @if $point == xlg {
    @media screen and (min-width: $break-xlg) { @content; }
  }
}
