/**************************************************
Colors
**************************************************/
$primary-dark-color: #0C131B; // Black
$secondary-color: #50f8df; // Aqua
$border-color: #d3d3d3; // Light Grey


/**************************************************
Fonts
**************************************************/
$font-stack-main: 'Hind', sans-serif;


/**************************************************
Spacing & Sizing
**************************************************/
$spacing: .5rem;
$spacing1: 1rem;
$spacing2: 1.75rem;
$spacing3: 2.25rem;
$spacing4: 3rem;
$spacing5: 4rem;
$max-width: 75rem;


/**************************************************
VARIABLES: Timing
**************************************************/
$timing-duration: .75s;


/**************************************************
Breakpoints
**************************************************/
$break-sm: 31.25em; // 500px
$break-md: 56.25em; // 900px
$break-md2: 68.75em; // 1100px
$break-lg: 87.5em; // 1400px
$break-xlg: 112.5em; // 1800px
