/**************************************************
Colors
**************************************************/
$primary-dark-color: #12202d; // Black
$secondary-color: #35e8ca; // Aqua
$bg-grey-color: #f7f7f7; // Light Grey Background
$text-grey-color: #a9b1b4; // Light Grey Text
$results-text-dark-color: #10202f;
$results-text-medium-color: #677381;


/**************************************************
Fonts
**************************************************/
$font-stack-main: 'Hind', sans-serif;


/**************************************************
Spacing & Sizing
**************************************************/
$spacing: .5rem;
$spacing1: 1rem;
$spacing2: 1.75rem;
$spacing3: 3rem;
$max-width: 75rem;
$border-radius: 5px;


/**************************************************
VARIABLES: Timing
**************************************************/
$timing-duration: .75s;


/**************************************************
Breakpoints
**************************************************/
$break-sm: 31.25em; // 500px
$break-md: 56.25em; // 900px
$break-md2: 68.75em; // 1100px
$break-lg: 87.5em; // 1400px
$break-xlg: 112.5em; // 1800px
