/**************************************************
Colors
**************************************************/
$primary-dark-color: #161616; // Black
$secondary-color: #35e8ca; // Aqua
$bg-grey-color: #f7f7f7; // Light Grey Background
$text-grey-color: #a9b1b4; // Light Grey Text
$results-text-dark-color: #10202f;
$results-text-medium-color: #677381;
$results-headshot-status: #375bfa;


/**************************************************
Fonts
**************************************************/
$font-stack-main: 'Hind', sans-serif;


/**************************************************
Spacing & Sizing
**************************************************/
$spacing: .5rem;
$spacing1: 1rem;
$spacing2: 1.75rem;
$spacing3: 3rem;
$max-width: 75rem;
$border-radius: 5px;


/**************************************************
VARIABLES: Timing
**************************************************/
$timing-duration: .75s;


/**************************************************
Breakpoints
**************************************************/
$mobile-lg: 31.25em; // 500px
$mobile-landscape: (max-width 46.25em) (orientation landscape); // 740px
$tablet-sm: 37.5em; // 600px
$tablet-md: 46.875em; // 750px
$tablet-lg: 62.5em; // 1000px
$desktop-xsm: 68.75em; // 1100px
$desktop-sm: 75em; // 1200px
$desktop-md: 84.375em; // 1350px
$desktop-lg: 112.5em; // 1800px
$desktop-xlg: 131.25em; // 2100px
